.derivedData/
test-results.xcresult/
exported-attachments/
*.xcodeproj/
xcuserdata/
DerivedData/
.build/
swift-snapshot-testing-local/
.derivedData-fixed/
test-results-fixed.xcresult/
exported-attachments-fixed/
